body {
  background-color: peachpuff; 
  color: red;                  
  font-family: Arial;        
}
h1 {
    colour:blue;
    text-align: center; 
    font-family: Arial, sans-serif;
    text-decoration: underline;
}
h2 
{
  text-align: center;
  color: darkblue;
  font-size: 36px;
}

h5 
{
  text-align: center;
  color: green;
  font-size: 20px;
}

h3 
{
  color: purple;
  font-size: 28px;
  font-weight: bold;
}
p
{
  font-size: 18px;
  text-align: justify; 
  color: black;
}
img 
{
  display: block;   
  margin: 20px auto;   
  border: 3px solid black;
  border-radius: 10px; 
}
video {
  display: block;   
  margin: 20px auto; 
  border: 3px solid black;
  border-radius: 10px;
}